<div class="flex items-center">
    <img alt="Logo de Óptica Kenedy" class="rounded-full" height="50"
        src="https://storage.googleapis.com/a1aa/image/1ZBugpj5vP7JAhmHHHWRrVFlUO5fAzdie7refk8GPRwoiJOOB.jpg"
        width="50" />
    <span class="ml-2 text-gray-700">Óptica Kenedy</span>
</div>

<div class="flex items-center">
        <img  alt="Foto de perfil del usuario" class="rounded-full" height="50"
        src="https://storage.googleapis.com/a1aa/image/bGURaUfrn3TSKiJ5qyKDDXQ2de2vSaXLDfj3MIOzUniZxEHnA.jpg"
        width="50" />
</div>