     <!-- Menu lateral -->

            <div class="space-y-1">
                <div class="flex flex-col items-center rounded-lg p-1 ml-">
                    <a href="/index.html"> <img class="w-12 h-12" src="/iconos/casa-icono-silueta.png" alt="Inicio"></a>
                    <p class="text-center font-bold h-10 mt-1"><a href="/indexPrincipla.html">Inicio2</a></p>
                </div>
                <div class="flex flex-col items-center rounded-lg p-1">
                    <a href="/Clientes/indexClientes.html"><img class="w-12 " src="/iconos/nueva-cuenta.png" alt=""></a>
                    <p class="mt-1 font-bold"><a href="/Clientes/indexClientes.html">Clientes</a></p>
                </div>
                <div class="flex flex-col items-center  p-1">
                    <a href="/Proveedores/proveedores.html"><img class="w-12" src="/iconos/personas.png" alt=""></a>
                    <p class="mt-1 font-bold"><a href="/Proveedores/proveedores.html">Proveedores</a></p>
                </div>
                <div class="flex flex-col items-center p-1">
                    <a href="/Productos/Productos.html"> <img class="w-12" src="/iconos/orden.png" alt=""></a>
                    <p class="mt-1 font-bold"><a href="/Productos/Productos.html">Productos</a></p>
                </div>
                <div class="flex flex-col items-center p-1">
                    <a href="/Fomulas/FormulaIndex.html"><img class="w-12" src="/iconos/computadora-portatil.png" alt="Foto"></a>
                    <p class="mt-1 font-bold"><a href="/Fomulas/FormulaIndex.html">Fórmulas</a></p>
                </div>
                <div class="flex flex-col items-center p-1">
                    <a href="/Facturación/FacturaciónIndex.html"><img class="w-12" src="/iconos/factura.png" alt=""></a>
                    <p class="mt-1 font-bold"><a href="/Facturación/FacturaciónIndex.html">Facturación</a></p>
                </div>
                <div class="flex flex-col items-center p-1">
                    <a href=""><img class="w-12" src="/iconos/configuraciones-de-la-cuenta.png" alt=""></a>
                    <p class="mt-1 font-bold">Configuraciones</p>
                </div>
            </div>